In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv('USStockMarketDataset.csv', parse_dates=[1], index_col=0)
# convert all dates to one format - if date is in format dd/mm/yyyy convert it to dd-mm-yyyy
df['Date'] = df['Date'].str.replace('/', '-')
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')
df.head()

,Date,Natural_Gas_Price,Natural_Gas_Vol.,Crude_oil_Price,Crude_oil_Vol.,Copper_Price,Copper_Vol.,Bitcoin_Price,Bitcoin_Vol.,Platinum_Price,...,Berkshire_Price,Berkshire_Vol.,Netflix_Price,Netflix_Vol.,Amazon_Price,Amazon_Vol.,Meta_Price,Meta_Vol.,Gold_Price,Gold_Vol.
0,2024-02-02,2.079,NaN,72.28,NaN,3.8215,NaN,"43,194.70",42650,901.6,...,"5,89,498",10580,564.64,4030000,171.81,117220000,474.99,84710000,"2,053.70",NaN
1,2024-02-01,2.050,161340.0,73.82,577940.0,3.8535,NaN,"43,081.40",47690,922.3,...,"5,81,600",9780,567.51,3150000,159.28,66360000,394.78,25140000,"2,071.10",260920.0
2,2024-01-31,2.100,142860.0,75.85,344490.0,3.9060,NaN,"42,580.50",56480,932.6,...,"5,78,020",9720,564.11,4830000,155.20,49690000,390.14,20010000,"2,067.40",238370.0
3,2024-01-30,2.077,139750.0,77.82,347240.0,3.9110,NaN,"42,946.20",55130,931.7,...,"5,84,680",9750,562.85,6120000,159.00,42290000,400.06,18610000,"2,050.90",214590.0
4,2024-01-29,2.490,3590.0,76.78,331930.0,3.8790,NaN,"43,299.80",45230,938.3,...,"5,78,800",13850,575.79,6880000,161.26,42840000,401.02,17790000,"2,034.90",1780.0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1013 entries, 0 to 1012
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               1013 non-null   datetime64[ns]
 1   Natural_Gas_Price  1013 non-null   float64
 2   Natural_Gas_Vol.   1009 non-null   float64
 3   Crude_oil_Price    1013 non-null   float64
 4   Crude_oil_Vol.     990 non-null    float64
 5   Copper_Price       1013 non-null   float64
 6   Copper_Vol.        976 non-null    float64
 7   Bitcoin_Price      1013 non-null   object
 8   Bitcoin_Vol.       1013 non-null   int64
 9   Platinum_Price     1013 non-null   object
 10  Platinum_Vol.      636 non-null    float64
 11  Ethereum_Price     1013 non-null   object
 12  Ethereum_Vol.      1013 non-null   int64
 13  S&P_500_Price      1013 non-null   object
 14  Nasdaq_100_Price   1013 non-null   object
 15  Nasdaq_100_Vol.    1012 non-null   float64
 16  Apple_Price        1013 non-null   float64
 17  Apple_Vol.         1013 non-null   int64
 18  Tesla_Price        1013 non-null   float64
 19  Tesla_Vol.         1013 non-null   int64
 20  Microsoft_Price    1013 non-null   float64
 21  Microsoft_Vol.     1013 non-null   int64
 22  Silver_Price       1013 non-null   float64
 23  Silver_Vol.        967 non-null    float64
 24  Google_Price       1013 non-null   float64
 25  Google_Vol.        1013 non-null   int64
 26  Nvidia_Price       1013 non-null   float64
 27  Nvidia_Vol.        1013 non-null   int64
 28  Berkshire_Price    1013 non-null   object
 29  Berkshire_Vol.     1013 non-null   int64
 30  Netflix_Price      1013 non-null   float64
 31  Netflix_Vol.       1013 non-null   int64
 32  Amazon_Price       1013 non-null   float64
 33  Amazon_Vol.        1013 non-null   int64
 34  Meta_Price         1013 non-null   float64
 35  Meta_Vol.          1013 non-null   int64
 36  Gold_Price         1013 non-null   object
 37  Gold_Vol.          1011 non-null   float64
dtypes: datetime64[ns](1), float64(19), int64(11), object(7)
memory usage: 308.6+ KB

In [ ]:
# plot pirces changes
# df prices is df where columns have 'Price'
df_prices =